/*
  Here you can change the variables such as colors, numbers of columns, screen sizes, etc...
*/

/* Colors */
$primary-color: rgb(16,40,64);
$secondary-color: rgb(64,161,255);
$third-color: orange;

/* screen width */
$small-screen-max-size: 420px;
$medium-screen-max-size: 760 px;
$large-screen-max-size: 1280px;

/* Grid settings */
$container-max-width : 1200; //in px
$columns : 12;
$column-width: 6; // in %
$gutter-width: (100 - ($column-width * $columns)) / ($columns - 1);
