/*
  Here we can change the variables such as colors, numbers of columns, screen sizes, etc...
*/

/* Colors */
$primary-color: rgb(236, 47, 25);
$secondary-color: rgb(64,161,255);
$header-color : darkred;
$header-font: white;

/* fonts */
$primary-font: arial;


/* screen width *//*
$small-screen-max-size: 420px;
$medium-screen-max-size: 768px;
$large-screen-max-size: 1280px; //may not be useful*/
$small-screen-max-size: 640px;
$medium-screen-max-size: 1024px;
$large-screen-max-size: 1900px; //may not be useful

/* Grid settings */
//$container-max-width : 1200; //in px
$columns : 12;
$column-width: 8; // in %
$gutter-width: (100 - ($column-width * $columns)) / ($columns - 1);
$full-width:100%;

