# Ignore files that are not pertinent for the notation criteria

# Ignore JSON scss maps
css/*.css.map
# Ignore JetBrain default files
.idea/*

# Ignore files that may contain sensitive information


